{
    "mcuCfgPath" : "Cosmos/{{mcu}}_integration/configuration/handwritten/mcuCfg.json",
    "systemModelCfgPath" : "Cosmos/{{mcu}}_integration/configuration/generated/systemModelCfg.json",
    "CosmOSCorePath" : "Cosmos/Core",
    "CosmOSIntegrationLayerPath" : "Cosmos/{{mcu}}_integration/CIL",
    "CosmOSApplicationLayerPath" : "Cosmos/ApplicationLayer",
    "CosmOSCoreTemplatesPath" : "Cosmos/CustomBox/generator/templates/Core",
    "CosmOSIntegrationLayerTemplatesPath" : "Cosmos/CustomBox/generator/templates/IntegrationLayer",
    "CosmOSApplicationLayerTemplatesPath" : "Cosmos/CustomBox/generator/templates/ApplicationLayer",
    "CosmOSApplicationLayerSourceTemplateName" : "program.c.j2",
    "CosmOSApplicationLayerHeaderTemplateName" : "program.h.j2",
    "LinkerScriptTemplatePath" : "Cosmos/CustomBox/generator/templates/Linker/gnu/arm",
    "LinkerTemplateName" : "linker.ld.j2",
    "compilerCfgPath" : "Cosmos/{{mcu}}_integration/configuration/handwritten/compilerCfg.json",
    "stmProject" : true,
    "linkerScriptPaths" :[
        {% if cores|length > 1 -%}
        {% for core in cores -%}
        "{{core.name}}/{{core.linkerScriptName}}"
        {% endfor -%}
        {% else -%}
        "{{linkerScriptName}}"
        {% endif -%}
    ],
    "cprojectPaths" :[
        {% if cores|length > 1 -%}
        {% for core in cores -%}
        "{{core.name}}/.cproject"
        {% endfor -%}
        {% else -%}
        ".cproject"
        {% endif -%}
    ],
    "projectPaths" :[
        {% if cores|length > 1 -%}
        {% for core in cores -%}
        "{{core.name}}/.project"
        {% endfor -%}
        {% else -%}
        ".project"
        {% endif -%}
    ]
}

