{
    "mcuCfgPath" : "Cosmos/CustomBox/configuration/mcu/{{mcu}}/mcuCfg.json",
    "systemModelCfgPath" : "Cosmos/CustomBox/configuration/system/systemModelCfg.json",
    "CosmOSCorePath" : "Cosmos/Core",
    "CosmOSIntegrationLayerPath" : "Cosmos/IntegrationLayer",
    "CosmOSApplicationLayerPath" : "Cosmos/ApplicationLayer",
    "CosmOSCoreTemplatesPath" : "Cosmos/CustomBox/generator/templates/Core",
    "CosmOSIntegrationLayerTemplatesPath" : "Cosmos/CustomBox/generator/templates/IntegrationLayer",
    "CosmOSApplicationLayerTemplatesPath" : "Cosmos/CustomBox/generator/templates/ApplicationLayer",
    "CosmOSApplicationLayerSourceTemplateName" : "program.c.j2",
    "CosmOSApplicationLayerHeaderTemplateName" : "program.h.j2",
    "LinkerScriptTemplatePath" : "Cosmos/CustomBox/generator/templates/Linker/{{mcu}}",
    "LinkerTemplateName" : "linker.ld.j2",
    "compilerCfgPath" : "Cosmos/CustomBox/configuration/mcu/{{mcu}}/compilerCfg.json",
    "stmProject" : true,
    "linkerScriptPaths" :[
        {% for core in cores -%}
        "{{core.name}}/{{mcu}}.upper()_FLASH.ld"
        {% endfor -%}
    ],
    "cprojectPaths" :[
        {% for core in cores -%}
        "{{core.name}}/.cproject"
        {% endfor -%}
    ],
    "projectPaths" :[
        {% for core in cores -%}
        "{{core.name}}/.project"
        {% endfor -%}
    ]
}

